<div class="absolute top-4 left-1/2 -translate-x-1/2 bg-black/20 text-white px-4 py-2 rounded-xl shadow-xl text-xl md:text-3xl font-bold flex items-center gap-3 z-20"
>
  Score: {{ score }} <span class="text-yellow-300 animate-pulse">⭐</span>
</div>

<div class="flex flex-col md:flex-row h-screen overflow-hidden"  [ngClass]="{'cursor-not-allowed': isItemSelected}">
  <app-game-card 
    *ngIf="itemLeft"
    [item]="itemLeft"
    [start]=true
    [show]="showMetricAnother"
    [ngClass]="{'cursor-not-allowed': isItemSelected}"
    [clicked]="selectedItem === 'left'"
    [ngClass]="{
      'cursor-not-allowed': isItemSelected,
      'pointer-events-none': isItemSelected
    }"
    (click)="handleGuess(itemLeft)"
    class="w-full md:w-1/2 h-1/2 md:h-screen transform transition-transform duration-300"
    [ngClass]="{ 
      'border-8 border-green-500 card-border-animation': staying && selectedItem === 'left',
      'border-8 border-red-500 card-border-animation': !staying && selectedItem === 'left'
    }"> 
  </app-game-card>
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 
      border-card bg-slate-900 w-20 h-20 md:w-32 md:h-32 rounded-full flex items-center justify-center honk text-2xl md:text-5xl z-10 transform border-2 border-gray-500"
      >
    <div class="inner-content flex items-center justify-center">
      <div *ngIf="selectedItem && staying" class="text-green-500 animate-pulse">✔</div>
      <div *ngIf="selectedItem && !staying" class="text-red-500 animate-pulse">❌</div>
      <span *ngIf="!selectedItem" class="text-white">OR</span>
    </div>

</div>



  <app-game-card 
    *ngIf="itemRight"
    [item]="itemRight"
    [show]="showMetricAnother"
    [ngClass]="{
      'cursor-not-allowed': isItemSelected,
      'pointer-events-none': isItemSelected
    }"
    [clicked]="selectedItem === 'right'"
    (click)="handleGuess(itemRight)"
    class="w-full md:w-1/2 h-1/2 md:h-screen transform transition-transform duration-300"
    [ngClass]="{
      'border-8 border-green-500 card-border-animation': staying && selectedItem === 'right',
      'border-8 border-red-500 card-border-animation': !staying && selectedItem === 'right'
    }">
  </app-game-card>
</div>
<app-game-result 
  *ngIf="gameOver || gameWon"
  [@slideIn] 
  [gameOver]="gameOver"
  [gameWon]="gameWon"
  [score]="score"
  (restartGame)="restartGame()"
  class="fixed inset-0 z-[100]">
</app-game-result>

