.game-container {
    text-align: center;
    font-family: Arial, sans-serif;
  
    .track {
      background: #222;
      color: #fff;
      padding: 20px;
      margin: 10px;
      border-radius: 8px;
      img {
        width: 150px;
        border-radius: 8px;
      }
    }
  
    button {
      margin: 10px;
      padding: 10px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      transition: 0.3s;
  
      &:hover {
        background: #1DB954; 
        color: white;
      }
    }
  }
  