.bg-gif {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('https://i.gifer.com/fxWn.gif') no-repeat fixed;
    background-size: cover;
    background-position: center 0px;
}

/* Capa negra semi-transparente */
.bg-gif::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Ajusta el valor de opacidad (0.6 = 60%) */
    z-index: 1;
}

/* Asegurar que el contenido no se vea afectado */
.bg-gif > * {
    position: relative;
    z-index: 2;
}

/* Para pantallas XL (más grandes de 1280px) */
@media (min-width: 1280px) {
    .bg-gif {
        background-position: center -300px; /* Baja más el GIF en pantallas grandes */
    }
}

/* Para pantallas aún más grandes (más de 1536px) */
@media (min-width: 1536px) {
    .bg-gif {
        background-position: center -400px; /* Ajusta aún más */
    }
}

.card {
    @apply relative w-full h-48 bg-cover bg-center rounded-xl  transition-all duration-300 hover:scale-105;
}

.card .overlay {
    @apply absolute inset-0 flex items-center justify-center text-white font-bold bg-black/50 rounded-xl ;
}