<div class="game-over text-center space-y-4 h-screen w-screen flex flex-col justify-center">
    <div>
        <h2 class="text-3xl font-bold">¡Juego terminado!</h2>
        <p class="text-lg">
        Tu puntaje final: <strong class="text-yellow-400">{{ score }}</strong>
        </p>
        <button
        (click)="restartGame.emit()"
        class="px-6 py-2 bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-lg shadow"
        >
        Reintentar
        </button>
    </div>
  </div>
  